/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0px auto;
    background: #231feb;
    color: white;
}
/* Hearder section strats */
header{
    display: flex;
    background-image: url(../image/top1.png);
    background-repeat: no-repeat;
    padding: 50px;
    background-size: 6% auto;
    background-color: #2577f1;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 90%;
}
.half-width p{
   font-weight: 500;
   margin: 0px 40px 40px 0px;
   text-align: justify;
}
.color-orange{
    color: orange;
}
h1{
    font-size: 50px;
    font-weight: 700;
}
h2{
    font-size: 40px;
    font-weight: 700;
}
.contact-btn{
    text-decoration: none;
    background-image: linear-gradient(45deg, #ec18e2, #11b9ec);
    color: white;
    padding: 10px 40px;
    font-weight: 700;
    border-radius: 20px;
    transition:.4s;
}
.contact-btn:hover{
    background-image: linear-gradient(90deg, #3818ec, #e511ec);
    box-shadow: 0px 0px 10px #bef104;
}

/* MAIN SECTION STRATS */
.main-section{
    display: flex;
    margin: 80px 0;
    background-image: url(../image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    padding: 50px;
    background-color: #0b3fe9;
}

/* end section */
#center{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 20px;
}
.content{
    display: flex;
    justify-content: space-evenly;
    background-image: url(../image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left center;
}
.content-item{
    width: 38%;
    box-shadow: 0px 0px 20px #000301;
    margin: 20px;
    padding: 20px;
    position: relative;
    transition: .4s;
}
.content-item:hover{
    box-shadow: 0px 0px 20px #bef104;
    background-color: #3818ec;
}
.content-item p{
    text-align: justify;
}
#border1{
    border-left: 7px solid;
    border-image: linear-gradient(tomato, orange);
    border-image-slice: 1;
}
#border2{
    border-left: 7px solid;
    border-image: linear-gradient(#1feb30, #31cae6);
    border-image-slice: 1;
}


.roller{
    margin: 20px 0;
}
.roller hr{
    width: 100%;
    height: 2px;
}
/* footer section */
footer{
    text-align: center;
}


/* responsib design */

@media screen and (max-width: 750px) {
    body{
        text-align: center;
    }
    header{
        display: block;
        padding: 20px;
        margin: 0 auto;
    }
    .main-section{
        display: block;
        padding: 20px;
    }
    .half-width{
        width: 100%;
        margin: 0 auto;
        padding-bottom: 20px;
    }
    .content{
        display: block;
    }
    .content-item{
        width: 80%;
        margin: 40px auto;
    }
    .half-width p{
        text-align: center;
        margin: 20px 0px 40px 0px;
    }
    h1{
        font-size: 36px;
    }
    h2{
        font-size: 30px;
    }
}

@media screen and (max-width: 990px) {
    header{
    }
    .half-width img{
        width: 100%;
        margin-top: 62px;
        line-height: 100%;
    }
}